.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
}

.dashboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 700px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.item-info {
    flex: 1;
  }

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    text-align: center;
    font-size: 35px;
}

.add-to-cart-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer !important;
    transition-duration: 0.4s;
}

.add-to-cart-button:hover {
    background-color: #761414;
    cursor: pointer !important;
}

.add-to-cart-button:disabled {
    background-color: #ccc; /* Gray */
    color: #666; /* Dark Gray */
    cursor: not-allowed !important;
}

.checkout{
    background-color: #19778a; /* Green */
    width: 700px;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer !important;
    transition-duration: 0.4s;
}
.checkout:hover {
    background-color: #31c1dd;
    cursor: pointer !important;
}
